<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HassanMalikApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>


    <add name="testdb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\2017C#\HassanMalikApplication\MCS.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>  
  
  </connectionStrings>  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <HassanMalikApplication.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
        </HassanMalikApplication.Properties.Settings>
    </userSettings>
</configuration>