<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>


    <add name="testdb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\2017C#\HassanMalikApplication\MCS.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>